:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.add-btn {
  height: 35px;
}

::ng-deep .add-input {
  display: flex;
  flex-grow: 1;
  margin-right: 15px;

  .mat-form-field-wrapper {
    width: 100%;
  }
}
