<ng-container [formGroup]="group">
  <div class="container">
    <mat-form-field class="add-input">
      <input formControlName="name" matInput type="text" placeholder="Input an task name">
    </mat-form-field>
    
    <button mat-button class="add-btn" (click)="add()">Add task</button>
    <button mat-raised-button color="primary" class="add-btn" (click)="addDescription()">Add description</button>
  </div>
  <mat-form-field *ngIf="isToggled" class="add-input animated fadeIn">
    <textarea formControlName="description" matInput type="text" placeholder="Input an task description"></textarea>
  </mat-form-field>
</ng-container>